html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular"),
  url("../fonts/Roboto-Regular.woff2") format("woff2"),
  url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Robotot-Bold"),
  url("../fonts/Roboto-Bold.woff2") format("woff2"),
  url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

p,h1,h2,h3,ul {
  margin: 0;
  padding: 0;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

:root {
  --blue: #3F2AFF;
  --black: #000000;
  --white: #FFFFFF;
  --gray: #666666;
  --orange: #FAAD1E;
  --green: #27ED11;
  --purple: #DD0CCF;
  --yellow: #F9E900;
}

body {
  font-family: Roboto,sans-serif;
  min-width: 320px;
}

.btn {
  background-color: var(--blue);
  color: var(--white);
  outline: none;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn.focus-visible {
  box-shadow: 5px 5px var(--purple), -1em 0 .4em var(--yellow);
}

.btn:hover {
  background-color: var(--orange);
}

.btn:active {
  background-color: var(--purple);
  color: var(--black);
}

.font-size {
  font-size: 0;
}

/*header*/

header {
  background-color: var(--blue);
}

.header {
  padding: 30px 0;
}

.header__content {
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.nav {
  align-self: baseline;
}

.nav__item:not(:last-child) {
  margin-right: 56px;
}

.nav__item {
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.nav__link {
  outline: none;
  transition: color 0.3s ease-in-out;
}

.nav__link.focus-visible {
  outline: 2px solid var(--orange);
  outline-offset: 5px;
}

.nav__link:hover {
  color: var(--green);
}

.nav__link:active {
  color: var(--yellow);
}

.burger {
  display: none;
}

/*hero*/

.hero {
  background: linear-gradient(#555681,#212133);
}

.hero__content {
  padding-top: 128px;
  padding-bottom: 130px;
}

.hero__title {
  color: var(--white);
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  margin-bottom: 25px;
}

.hero__desc {
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 65px;
}

.hero__picture {
  padding: 12px 0;
}

.hero__btn {
  max-width: 271px;
  padding: 24px 76px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
}


/*advantage*/

.advantage {
  margin-bottom: 76px;
}

.advantage__top {
  margin-bottom: 19px;
}

.advantage__desc {
  background-image: url("../img/advantage768.png");
  background-repeat: no-repeat;
  background-position: 0 75%;
  background-size: 160px 142px;
  padding: 80px 0 0 190px;
}


.advantage__caption {
  max-width: 380px;
  color: var(--black);
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  margin-bottom: 15px;
}

.advantage__text {
  color: var(--gray);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.advantage__item {
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 15px 0 15px 110px;
}

.advantage-item__picture-1 {
  background-image: url("../img/advantage-1.svg");
}

.advantage-item__picture-2 {
  background-image: url("../img/advantage-2.svg");
}

.advantage-item__picture-3 {
  background-image: url("../img/advantage-3.svg");
}


.advantage__item-text {
  color: var(--gray);
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
}

/*teacher*/

.teacher {
  background-color:#212133;
  margin-bottom: 75px;
  padding: 75px 0;
}

.teacher__title {
  padding-bottom: 23px;
  color: var(--white);
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
}

.teacher__img {
  margin-bottom: 25px;
}

.teacher__item img {
  width: 100%;
}

.teacher__name {
  color: var(--white);
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 8px;
}

.teacher__desc {
  color: var(--gray);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

/*curs*/

.curs {
  margin-bottom: 48px;
}

.curs__caption {
  color: var(--black);
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  margin-bottom: 22px;
}

.curs__picture {
  position: relative;
}

.curs__copy {
  position: absolute;
  top: 10px;
  right: 4px;
  background-image: url("../img/curs-copy.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 5px 0 2px 29px;
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

.curs__item {
  display: flex;
  flex-direction: column;
}


.curs__item-text {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  height: 100%;
  padding: 30px;
  border-radius: 0 0 20px 20px;
  background-color: #EDF0F9;
  margin-bottom: 30px;
}


.curs__title {
  color: var(--black);
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 8px;
}

.curs__desc {
  color: var(--gray);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 20px;
}

.curs__btn {
  margin-top:auto;
  align-self: flex-start;
  padding: 21px 59px;
  border-radius: 20px;
  font-size: 16px;
}

/*footer*/

.footer-top {
  background-color: #2E2B44;
}

.footer-social__list {
  justify-content: center;
  padding-top: 28px;
  padding-bottom: 23px;
}

.footer-social__item:not(:last-child) {
  margin-right: 30px;
}

.footer-social__link {
  fill: var(--white);
  outline: none;
  transition:fill 0.3s ease-in-out;
}

.footer-social__link.focus-visible {
  outline: 2px solid var(--orange);
  outline-offset: 4px;
}

.footer-social__link:hover {
  fill: var(--orange);
}

.footer-social__link:active {
  fill:var(--yellow)
}

.footer__copy {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
}

.reg {
  top: 0;
  padding: 0 2px;
  font-size: 110%;
  color: var(--blue);
}


@media  (max-width: 991px){

  .hero__title {
    font-size: 50px;
  }

  .hero__picture {
    padding: 112px 0 152px;
  }

  .hero__title {
    margin-bottom: 14px;
  }

  .advantage {
    margin-bottom: 0;
    padding-bottom: 75px;
  }

  .advantage__caption {
    margin-bottom: 17px;
  }

  .advantage__desc {
    padding: 81px 0 0 240px;
    background-size: 211px 187px;
    background-position: 0 77%;
  }

  .advantage__item {
    padding: 94px 0 0 0;
    background-position: 0 1%;
  }

  .teacher__desc {
    margin-bottom: 23px;
  }

  .teacher__img {
    margin-bottom: 25px;
  }

  .teacher {
    padding-bottom: 28px;
  }

  .curs__copy {
    right: 10px;
  }

  .curs__item-text {
    min-height: 376px;
  }

  .curs__btn {
    padding: 21px 56px;
  }

}

@media (max-width: 767px) {

  .header__content {
    justify-content: center;
  }

  .header__logo {
    display: contents;
  }

  .logo {
    margin-bottom: 33px;
  }

  .hero__picture {
    display: none;
  }

  .hero__content {
    padding-top: 79px;
    padding-bottom: 136px;
  }

  .hero__desc {
    max-width: 345px;
  }

  .advantage__desc {
    padding: 81px 0 0 180px;
    background-size: 150px 134px;
    background-position: 0 29%;
  }

  .advantage {
    padding-bottom: 55px;
  }

  .teacher {
    padding-bottom: 52px;
  }

  .curs__item-text {
    min-height: 473px;
    padding: 30px 15px 27px 30px;
  }

  .curs__desc {
    margin-bottom: 32px;
  }

  .curs__title {
    line-height: 130%;
    margin-bottom: 11px;
  }

  .curs__btn {
    padding: 22px 48px;
  }

  .curs__copy {
    right: 10px;
  }

}

@media (max-width: 575px) {

  .header {
    padding-bottom: 0;
  }

  .logo {
    max-width:76px;
  }

  .header__content {
    justify-content: space-between;
    align-items: flex-start;
  }

  .nav {
    position: absolute;
    right: 0;
    top: -30px;
    width: 100%;
    min-width: 250px;
    height: 47vh;
    min-height: 433px;
    z-index: 1000;
    padding: 76px 15px;
    background-color: #2F2C45;
    overflow-y:auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .nav .nav__list {
    flex-direction: column;
  }

  .nav .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 56px;
  }

  .nav .nav__link {
    font-size: 18px;
  }

  .nav--active {
    visibility: visible;
    transform: none;
  }

  .burger {
    display: block;
    position: relative;
    width: 24px;
    height: 17px;
    z-index: 10000;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 21px;
    height: 2px;
    border-radius: 20px;
    background-color: var(--white);
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
  }

  .burger.focus-visible {
    outline: 2px solid var(--orange);
    outline-offset: 2px;
  }

  .burger:active {
    outline: none;
  }

  .burger:active .burger__line {
    background-color: var(--green);
  }

  .burger--active .burger__line:nth-child(2) {
    transform: scale(0);
  }


  .burger--active .burger__line:first-child {
    left: 1%;
    top: 54%;
    transform: rotate(45deg);
    transform-origin: 15px 0;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .burger--active .burger__line:last-child {
    bottom: auto;
    left: 3%;
    top: 54%;
    transform: rotate(-45deg);
    transform-origin: 6px 0;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .stop-scroll {
    overflow: hidden;
  }

  .burger__line:first-child {
    top:0;
  }

  .burger__line:nth-child(2) {
    opacity: 1;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
    transition: opacity 0.3s ease-in-out;
  }


  .burger__line:last-child {
    bottom: 0;
  }

  .hero__content {
    padding-top: 50px;
    padding-bottom: 51px;
  }

  .hero__title {
    font-size: 30px;
    margin-bottom: 5px;
  }

  .hero__desc {
    margin-bottom: 46px;
    font-size: 16px;
    line-height: 130%;
  }

  .hero__btn {
    padding: 21px 54px;
    font-size: 16px;
  }

  .advantage {
    padding-bottom: 19px;
  }

  .advantage__desc {
    padding: 50px 0 0 0;
    background-image: none;
  }

  .advantage__caption {
    font-size: 20px;
    line-height: 130%;
  }


  .advantage__caption {
    margin-bottom: 2px;
  }

  .advantage__top {
    margin-bottom: 25px;
  }

  .advantage__item {
    padding: 0 0 33px 109px;
  }


  .teacher {
    padding-top: 47px;
    padding-bottom: 25px;
    margin-bottom: 46px;
  }

  .teacher__title {
    padding-bottom: 27px;
    font-size: 20px;
  }

  .teacher__img {
    margin-bottom: 25px;
  }

  .curs {
    margin-bottom: 20px;
  }

  .curs__item-text {
    padding: 30px;
  }

  .curs__caption {
    font-size: 20px;
    margin-bottom: 27px;
  }

  .curs__title {
    max-width: 194px;
    margin-bottom: 10px;
  }

  .curs__btn {
    padding: 21px 56px;
  }

  .curs__picture img{
    width: 100%;
  }

}
